body {
  padding-top: 5rem;
}

.content
{
  padding: 1rem 1rem;
  text-align: left;
}
 
 .blog-footer {
  padding: 1rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
  border-bottom: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

[contenteditable] { min-height: 1em}
